*{
    margin: 0;
    padding: 0;
}

header{
   background-color: rgb(23, 107, 218);


}
.logo {
    width: 165px;
    height: auto;
    
}
main{
    background-color: blueviolet;
}

    

 img{
    width: 590px;

    
}

footer{
    height: 300px;
    background-color: rgb(23, 107, 218);
}
.detalhes{
 background-color: rgb(255, 156, 205);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 160px;
}
.produto{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 
}


.botao{
    border: 2px rgb(79, 63, 224) solid;
    border-radius: 20px;
    width: 110px;
    color: rgb(28, 27, 7);
    font-size: 20px;
    
}
/* muda cor do botao e do texto */
.botao:hover{
    color: rgb(49, 223, 107);
    background-color: rgb(95, 34, 12);
}

